ChangeLog
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
intl
intltool-extract.*
intltool-merge.*
intltool-update.*
m4
mkinstalldirs
intltool-modules
stamp-h1
xkeyboard-config*.tar.*
xkeyboard-config.spec
xkeyboard-config.prj
xkeyboard-config.pws
.tm_project.cache
INSTALL
configure.lineno
geometry.dir
compat.dir
symbols.dir
keycodes.dir
*.lst
mxkbledpanel
mxkbledpanel._man
base.*.part
base.xml
base.lst
base
sun.xml
semantics.dir
.intltool-merge-cache
Makevars.template
POTFILES
Rules-quot
boldquot.sed
en@boldquot.header
en@quot.header
insert-header.sin
messages
messages.mo
quot.sed
remove-potcdate.sed
remove-potcdate.sin
*.gmo
*.pot
stamp-po
keymap.dir
types.dir
ABOUT-NLS
