Source: xkeyboard-config
Section: x11
Priority: extra
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: Mohammed Adnène Trojette <adn+deb@diwi.org>
Build-Depends: debhelper (>= 5.0.0), quilt, automake, libtool, xutils-dev, libglib2.0-dev, intltool
Build-Depends-Indep: libxml-parser-perl
Standards-Version: 3.7.3
Vcs-Git: git://git.debian.org/git/pkg-xorg/data/xkb-data
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/data/xkb-data.git
Homepage: http://www.freedesktop.org/Software/XKeyboardConfig

Package: xkb-data
Architecture: all
Description: X Keyboard Extension (XKB) configuration data
 This package contains configuration data used by the X Keyboard
 Extension (XKB), which allows selection of keyboard layouts when
 using a graphical interface.
 .
 Every X11 vendor provides its own XKB data files, so keyboard layout
 designers have to send their layouts to several places.  The
 xkeyboard-config project has been launched at FreeDesktop in order
 to provide a central repository that could be used by all vendors.
