Source: xkeyboard-config
Section: x11
Priority: extra
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: Denis Barbier <barbier@debian.org>
Build-Depends: debhelper (>= 4.0.0), quilt
Build-Depends-Indep: libxml-parser-perl
Standards-Version: 3.7.2

Package: xkb-data
Architecture: all
Description: X Keyboard Extension (XKB) configuration data
 This package contains configuration data used by the X Keyboard
 Extension (XKB), which allows selection of keyboard layouts when
 using a graphical interface.
 .
 Every X11 vendor provides its own XKB data files, so keyboard layout
 designers have to send their layouts to several places.  The
 xkeyboard-config project has been launched at FreeDesktop in order
 to provide a central repository that could be used by all vendors.
 This package comes from xkeyboard-config, and thus conflicts with
 and replaces the xlibs package which is part of the XFree86 server.
 .
  Homepage: http://www.freedesktop.org/Software/XKeyboardConfig
