Source: xkbdata
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Branden Robinson <branden@debian.org>, Fabio M. Di Nitto <fabbione@fabbione.net>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1.0

Package: xkbdata
Architecture: all
Depends: ${misc:Depends}
Conflicts: xlibs-data (<< 6.8.2-35), xkb-data
Replaces: xlibs-data (<< 6.8.2-35), xkb-data
Pre-Depends: x11-common (>= 1:1.0.0-1)
Description: Classic XKB data
 This package contains the old xkb datasets. Note that this package is more
 or less unsupported by upstream, and the new xkb-data package will replace
 it.
